<!DOCTYPE html>
<html>
  <head>
    <title>My address book.</title>
  </head>
  <body>
    <h1>My address book</h1>
    <form action="/confirm_address" method="post">
      <label>Enter a Name:</label>
      <input name="name">
      <br>
      <label>Enter a street address:</label>
      <input name="streetAddress">
      <br>
      <label>Enter City</label>
      <input name="city">
      <br>
      <label>Enter State</label>
      <input name="state">
      <br>
      <label>Enter Zip</label>
      <input name="zip">
      <br>
      <button type="submit">Enter</button>
    </form>
  </body>
</html>
